# ==== LLM Client ====
LLM_API_KEY=your-api-key-here
LLM_MODEL=your-model-here
BASE_PROVIDER_URL=your-base-provider-url-here

# ==== Tool-related 3rd party API ====
SERPAPI_API_KEY=your-serpapi-api-key-here
